section.create {
    font-size: 1em;
    label {
        font-size: 1.5em;
    }
    .rem-3 {
        font-size: 2rem;
        height: 3rem;
        line-height: 3rem;
    }
    .demo_box {
        width: 300px;
        height: 200px;
        background: #000;
    }
    .toggels.row {
        padding-top: 18px;
    }
    .animation.row {
        padding-top: 25px;
    }
    input[type="radio"] {
        zoom: 2;
        margin-bottom: 0px;
        position: relative;
        top: 2px;
    }
    .animation_box {
        margin-top: 15px;
    }
    .ng-pristine #error_message {
        opacity: 0 !important;
    }
    #error_message {
        @include transition;
        color: lighten($primary-color, 15%);
        margin-top:-15px;
        opacity: 0;
    }
    #error_message.active,
    {
        opacity: 1;
    }
}
