<section class="create">
    <form>
        <!-- Hashtag and submit -->
        <div class="hashtag row">
            <div class="exit"><a href="/" alt="cancel" title="Cancel">x</a></div>
            <div class="large-12 columns">
                <div class="row collapse">
                    <label>Choose your UNIQUE hashtag</label>
                    <div class="large-1 medium-2 small-2 columns">
                        <span class="prefix rem-3">#</span>
                    </div>
                    <div class="large-5 medium-7 small-10 columns">
                        <input class=" rem-3" type="text" placeholder="Hashtag" />
                    </div>
                    <div class="medium-3 small-4 columns">
                        <a href="#/create" class="button postfix rem-3" alt="save" title="Save this hashtag">Save</a>
                    </div>
                    <div class="large-4 medium-0 columns">

                    </div>
                </div>
            </div>

        </div>
        <!-- Instagram / Twitter toggles -->
        <div class="toggels row">
            <div class="large-2 columns">
                <div class="large round switch">Use Twitter
                    <input id="twitterCheckboxSwitch" type="checkbox" checked>
                    <label for="twitterCheckboxSwitch"></label>
                </div>
            </div>
            <div class="large-2 columns">
                <div class="large round switch">Use Instagram
                    <input id="instagramCheckboxSwitch" type="checkbox" checked>
                    <label for="instagramCheckboxSwitch"></label>
                </div>
            </div>
            <div class="large-8 columns">
            </div>
        </div>
        <!-- Choose Animation -->
        <div class="animation row">
            <div class="large-12 columns">
                <label>Choose an animation</label>
                <div class="row">

                    <div class="animation_box large-4 medium-6 columns">
                        <input type="radio" name="animation_radio" value="anim1" id="anim1" checked>
                        <label for="anim1">Standard</label>
                        <div class="demo_box">

                        </div>
                    </div>
                    <div class="animation_box large-4 medium-6 columns">
                        <input type="radio" name="animation_radio" value="anim2" id="anim2">
                        <label for="anim2">Animation 2</label>
                        <div class="demo_box">

                        </div>
                    </div>
                    <div class="animation_box large-4 medium-6 columns">
                        <input type="radio" name="animation_radio" value="anim3" id="anim3">
                        <label for="anim3">Animation 3</label>
                        <div class="demo_box">

                        </div>
                    </div>

                    <div class="animation_box large-4 medium-6 columns">
                        <input type="radio" name="animation_radio" value="anim4" id="anim4">
                        <label for="anim4">Animation 4</label>
                        <div class="demo_box">

                        </div>
                    </div>
                    <div class="animation_box large-4 medium-6 columns end">
                        <input type="radio" name="animation_radio" value="anim5" id="ananim5im2">
                        <label for="anim5">Animation 5</label>
                        <div class="demo_box">

                        </div>
                    </div>
                </div>


            </div>

    </form>
</section>



<!--
<section class="artistinfo">
    CREATE STUFF
    <a href="#/dashboard">&raquo; dashboard</a>
    <a href="#/create">&raquo; create</a>
    <a href="#/edit/:itemId">&raquo; edit</a>
    <a href="#/print">&raquo; Print</a>
</section>
-->
