<section class="print">
    <div class="row">
            <div class="exit"><a href="#/" alt="cancel" title="Cancel">x</a>
    </div>
        <div class="large-12 columns">
            <h3>Choose your print template</h3>
        </div>
    </div>

    <div class="row">
        <div class="large-4 columns">
            <ul class="pricing-table">
                <li class="title">A4 Flyer</li>
                <!-- <li class="price">$99.99</li>-->
                <li class="description">29.7cm x 21cm</li>
                <li class="gray bullet-item">
                    <img src="http://stage.swanscreen.com/admin/public/img/print-a4.png" </li>
                    <li class="cta-button"><a class="secondary button" href="#">Preview</a>
                    </li>
                    <li class="cta-button show-for-large-up"><a class="button" href="#">Download</a>
                    </li>
                    <li class="bullet-item show-for-medium-down">*Downloading is not available on mobile</li>
            </ul>
        </div>
        <div class="row">
            <div class="large-4 columns">
                <ul class="pricing-table">
                    <li class="title">Business card</li>
                    <!-- <li class="price">$99.99</li>-->
                    <li class="description">5.1cm x 8.9cm</li>
                    <li class="gray bullet-item">
                        <img src="http://stage.swanscreen.com/admin/public/img/print-card.png" </li>
                        <li class="cta-button"><a class="secondary button" href="#">Preview</a>
                        </li>
                        <li class="cta-button show-for-large-up"><a class="button" href="#">Download</a>
                        </li>
                        <li class="bullet-item show-for-medium-down">*Downloading is not available on mobile</li>
                </ul>
            </div>
            <div class="row">
                <div class="large-4 columns">
                    <ul class="pricing-table">
                        <li class="title">Place card</li>
                        <!-- <li class="price">$99.99</li>-->
                        <li class="description">5.1cm x 8.9cm folded</li>
                        <li class="gray bullet-item">
                            <img src="http://stage.swanscreen.com/admin/public/img/print-card-folded.png" </li>
                            <li class="cta-button"><a class="secondary button" href="#">Preview</a>
                            </li>
                            <li class="cta-button show-for-large-up"><a class="button" href="#">Download</a>
                            </li>
                            <li class="bullet-item show-for-medium-down">*Downloading is not available on mobile</li>
                    </ul>
                </div>


            </div>


</section>


<!--
<section class="artistinfo">
    PRINT STUFF
    <a href="#/dashboard">&raquo; dashboard</a>
    <a href="#/create">&raquo; create</a>
    <a href="#/edit/:itemId">&raquo; edit</a>
    <a href="#/print">&raquo; Print</a>
</section>
-->
